/* ==========================================================================
   General
   ========================================================================== */
html {
}

body {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Quicksand", sans-serif;
  font-weight: 400; /* 400 - regular*/
  background: $primary_color_black;
  color: $primary_color_white;
  //overflow: hidden;
}

#kill-scroll {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 3000;
  background: #eb0c0c73;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden !important;
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#hero,
#intro,
#tech,
#port,
#contact {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  z-index: -1;
  height: 30px;
  width: 30px;
  background: #e9e9e9;
  border-radius: 50%;
}

/* Clear float */
.clearfix {
  content: "";
  clear: both;
  display: block;
}
