/* ==========================================================================
   General
   ========================================================================== */
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Quicksand", sans-serif;
  font-weight: 400; /* 400 - regular*/
  position: relative;
  background: #202020;
  color: #e3e3e3;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden !important;
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#hero,
#intro,
#tech,
#port,
#contact {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  z-index: -1;
  height: 30px;
  width: 30px;
  background: #e9e9e9;
  border-radius: 50%;
}

/* Clear float */
.clearfix {
  content: "";
  clear: both;
  display: block;
}

/* ==========================================================================
   Navigation and Burger Menu
   ========================================================================== */

#burger-menu {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 30px;
  height: 30px;
  z-index: 150;
  cursor: pointer;
}

#burger-menu span {
  width: 30px;
  height: 3px;
  margin-top: 5px;
  background: white;
  display: block;
}
#burger-menu span:nth-of-type(2) {
  width: 20px;
  height: 2px;
  margin-top: 5px;
  margin-left: 2px;
  background: white;
  display: block;
}

nav .background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(100vh / 5 + 1px);
  background: #202020;
  transition: left 0.3s;
  z-index: 140;
}

nav .background:nth-of-type(2) {
  top: calc((100vh / 5) * 1);
}
nav .background:nth-of-type(3) {
  top: calc((100vh / 5) * 2);
}
nav .background:nth-of-type(4) {
  top: calc((100vh / 5) * 3);
}
nav .background:nth-of-type(5) {
  top: calc((100vh / 5) * 4);
}

nav .background:nth-of-type(odd) {
  left: -101vw;
}
nav .background:nth-of-type(even) {
  left: 101vw;
}

nav > .back .background.nav-animation {
  left: 0;
}
nav > .front li.nav-animation {
  left: 0;
}

nav ul {
  text-align: center;
  font-size: 50px;
}
nav li {
  width: 100vw;
  left: 0px;
  text-transform: uppercase;
  position: fixed;
  top: 0px;
  padding-top: 50px;
  height: calc(100vh / 5 + 1px - 50px);
  transition: all 0.3s;
  cursor: pointer;
  z-index: 145;
}
nav li.active {
  color: #202020;
  background: #e3e3e3;
}
nav li:hover {
  color: #202020;
  background: #e3e3e3;
}

nav li:nth-of-type(2) {
  top: calc((100vh / 5) * 1);
}
nav li:nth-of-type(3) {
  top: calc((100vh / 5) * 2);
}
nav li:nth-of-type(4) {
  top: calc((100vh / 5) * 3);
}
nav li:nth-of-type(5) {
  top: calc((100vh / 5) * 4);
}

nav li:nth-of-type(odd) {
  left: -101vw;
}
nav li:nth-of-type(even) {
  left: 101vw;
}

/* ==========================================================================
   Hero
   ========================================================================== */

#hero .wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0px;
  width: 70vw;
  max-width: 860px;
  height: 50vmin;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hero .wrapper > div {
  position: relative;
}

#hero .title {
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  grid-column: span 5;
}

#hero .title h1 {
  font-size: 40px;
}

#hero .title p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#hero .title-image {
  width: 100%;
  grid-column: span 3;
}
#hero .title-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 100%;
}

/*
   Scroll mouse
   ========================================================================== */

#hero #scroll-hint {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  width: 109px;
}

#hero #scroll-hint .mouse {
  position: relative;
  margin: 0 auto;
  height: 34px;
  width: 19px;
  border: 1px solid white;
  border-radius: 20px;
}

#hero #scroll-hint .dot {
  width: 3px;
  height: 6px;
  background-color: white;
  position: relative;
  top: 3px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 5px;
  animation: scrollMouse 1.2s linear infinite;
  opacity: 0.5;
}

@keyframes scrollMouse {
  50% {
    opacity: 1;
    top: 15px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

#hero #scroll-hint p {
  font-size: 12px;
}

/* ==========================================================================
   Intro
   ========================================================================== */

:root {
  /* HERO */
  --intro-wrapper-height: 80vmin;
}
#intro .wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 20px;
  width: 80vw;
  max-width: 1024px;
  height: var(--intro-wrapper-height);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#intro .wrapper > div {
  position: relative;
  grid-column: span 4;
  height: calc(var(--intro-wrapper-height) / 2);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#intro .image {
  width: 100%;
}

#intro .image img {
  height: calc(var(--intro-wrapper-height) / 2 - 50px);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#intro .headline {
  position: relative;
  display: table;
  text-align: center;
}

#intro .headline h2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 45px;
  opacity: 0;
}

#intro .white-bar-headline {
  position: absolute;
  height: 50px;
  width: 0vw;
  background: #e3e3e3;
  right: 0;
  top: 0;
}

#intro .description {
  width: 90%;
  display: table;
  text-align: justify;
}

#intro .description p {
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
}

#intro .map {
  display: table;
  text-align: justify;
  width: 100%;
}

#intro .map svg {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#intro .map svg .cls-2 {
  fill: #fff;
}
/* ==========================================================================
   Technologies
   ========================================================================== */
:root {
  /* HERO */
  --tech-wrapper-height: 90vh;
  --tech-wrapper-width: 80vw;
}
#tech h2 {
  font-size: 35px;
}
#tech .wrapper {
  width: var(--tech-wrapper-width);
  max-width: 1024px;
  height: var(--tech-wrapper-height);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-top: calc((100vh - var(--tech-wrapper-height)) / 2);
}

#tech .animation {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
}

#tech .code-editor {
  position: relative;
  float: left;
  z-index: 20;
}

#tech .code-editor svg {
  width: calc(var(--tech-wrapper-width) / 3);
  max-width: 341px;
}
#tech .code-editor svg .cls-1 {
  /* remove white lines*/
  stroke: none;
  stroke-miterlimit: 0;
  stroke-width: 0;
}

#tech .line {
  height: 2px;
  width: calc(var(--tech-wrapper-width) - 200px);
  max-width: 824px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  background: white;
  z-index: 15;
}

#tech .device {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 0px;

  width: 200px;
  height: 200px;

  margin-top: -100px;
  margin-left: -100px;
  z-index: 20;
}

/* The dot */
#tech .device .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 160px;
  height: 100px;

  margin-top: -50px;
  margin-left: -80px;

  border-radius: 5px;

  background-color: #1e3f57;

  animation: dot1 5s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

#tech .device .dot:nth-child(2) {
  z-index: 11;

  width: 150px;
  height: 90px;

  margin-top: -45px;
  margin-left: -75px;

  border-radius: 3px;

  background-color: #3c617d;

  animation-name: dot2;
}

#tech .device .dot:nth-child(3) {
  z-index: 12;

  width: 40px;
  height: 20px;

  margin-top: 50px;
  margin-left: -20px;

  border-radius: 0 0 5px 5px;

  background-color: #6bb2cd;

  animation-name: dot3;
}

@keyframes dot1 {
  3%,
  97% {
    width: 160px;
    height: 100px;

    margin-top: -50px;
    margin-left: -80px;
  }
  30%,
  36% {
    width: 80px;
    height: 120px;

    margin-top: -60px;
    margin-left: -40px;
  }
  63%,
  69% {
    width: 40px;
    height: 80px;

    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2 {
  3%,
  97% {
    width: 150px;
    height: 90px;

    margin-top: -45px;
    margin-left: -75px;
  }
  30%,
  36% {
    width: 70px;
    height: 96px;

    margin-top: -48px;
    margin-left: -35px;
  }
  63%,
  69% {
    width: 32px;
    height: 60px;

    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot3 {
  3%,
  97% {
    width: 40px;
    height: 20px;

    margin-top: 50px;
    margin-left: -20px;
  }
  30%,
  36% {
    width: 8px;
    height: 8px;

    margin-top: 49px;
    margin-left: -5px;

    border-radius: 8px;
  }
  63%,
  69% {
    width: 16px;
    height: 4px;

    margin-top: -37px;
    margin-left: -8px;

    border-radius: 10px;
  }
}

#tech .slider {
  background: #282828;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  padding-bottom: 10px;
}

#tech .slider .box {
  width: var(--tech-wrapper-width);
  max-width: 1024px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

#tech .slider .container:last-of-type {
  height: 100px;
  white-space: nowrap;
  position: relative;
  left: 0;
}

#tech .slider .item {
  height: 80px;
  text-align: center;
  padding: 10px 0;
  min-width: 100px;
  margin: 0 50px;
  display: inline-block;
  white-space: normal;
}
#tech .slider .item img {
  height: 70%;
  width: auto;
  margin: 0 auto;
}

/* ==========================================================================
   Portfolio
   ========================================================================== */

:root {
  /* HERO */
  --port-wrapper-height: 80vh;
  --port-wrapper-width: 90vw;
}

#port .wrapper {
  width: var(--port-wrapper-width);
  max-width: 1200px;
  height: var(--port-wrapper-height);
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 10vh;
}

#port .container {
  height: var(--port-wrapper-height);
  white-space: nowrap;
  position: relative;
  left: 0;
  display: inline-block;
}

#port .work {
  height: var(--port-wrapper-height);
  width: var(--port-wrapper-width);
  position: relative;
  display: inline-block;
  margin-right: calc((100vw - var(--port-wrapper-width)) * 2);
  max-width: 1200px;
}

#port .back {
  position: absolute;
  height: var(--port-wrapper-height);
  width: var(--port-wrapper-width);
  z-index: 20;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: 1fr; /* keeps all grid boxes same height, else remove */
  max-width: 1200px;
}

#port .back .title {
  margin-top: 20px;
  grid-column: 1 / 8;
  margin-left: 20px;
}

#port .back .title > div {
  display: inline-block;
  text-align: center;
}

#port .back .title h2 {
  margin-bottom: 5px;
  font-size: 32px;
  text-transform: uppercase;
}

#port .back .title p {
  margin-top: 5px;
  font-size: 16px;
  text-transform: uppercase;
}

#port .back .title span {
  display: block;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}

#port .back .box {
  grid-column: 9 / 21;
  background: black;
}

#port .front {
  position: absolute;
  height: var(--port-wrapper-height);
  width: var(--port-wrapper-width);
  z-index: 25;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 1fr; /* keeps all grid boxes same height, else remove */
  max-width: 1200px;
}

#port .front .image {
  grid-column: 1 / 11;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#port .front .image > div {
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
#port .front .image > div:after {
  padding-top: 80%;
  display: block;
  content: "";
}

#port .front .image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#port .front .info {
  grid-column: 12 / 20;
  position: relative;
  height: 100%;
  width: 100%;
}

#port .front .description {
  margin-top: 10%;
  white-space: pre-wrap;
}

#port .front .description p {
  line-height: 20px;
}

#port .front .call-to-action {
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

#port .front .call-to-action a {
  display: inline-block;
  text-decoration: none;
  color: #e3e3e3;
  padding: 5px 20px;
  border: 1px solid #e3e3e3;
  text-transform: uppercase;
  margin: 2px 5px;
}

#port .front .call-to-action a img {
  height: 15px;
  margin-left: 10px;
  margin-bottom: -2px;
}

#port .pagecount {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 100;
}

#port .pagecount p {
  margin-top: -5px;
  font-size: 20px;
}

#port .pagecount p:nth-of-type(2) {
  margin-left: 5px;
}
#port .pagecount p:nth-of-type(3) {
  margin-left: 10px;
}

#port .scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 200px;
  background: rgba(255, 77, 111);
  transition: width 0.3s;
}

/* ==========================================================================
   Contact
   ========================================================================== */

:root {
  /* HERO */
  --intro-wrapper-height: 90vmin;
  --intro-wrapper-width: 100vw;
}
#contact {
  height: 100vh;
  max-height: 100vh;
}

#contact .wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 10px;
  width: var(--intro-wrapper-width);
  max-width: 1200px;
  height: var(--intro-wrapper-height);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#contact .wrapper > div {
  position: relative;
  grid-column: span 4;
  height: calc(var(--intro-wrapper-height) / 2);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#contact .white-splitter {
  width: 150vw;
  height: 150vh;
  background: #e3e3e3;
  position: absolute;
  top: 0;
  left: 40vw;
  z-index: -10;
  transform-origin: center;
}

#contact .left > h2 {
  margin-top: 20px;
  font-size: 35px;
  margin-left: 50px;
}

#contact .left .presentations {
  margin-top: 40px;
  max-height: 70%;
}

#contact .presentations ul {
  list-style-type: disc;
  list-style-position: outside;
  display: block;
}

#contact .presentations li {
  display: block;
  display: list-item;
  margin-left: 15%;
  margin-bottom: 30px;
}

#contact .presentations h3 {
  font-size: 20px;
}

#contact .presentations p {
  font-size: 16px;
  margin-left: 50px;
}

#contact .external {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
}

#contact .external img {
  width: 20%;
}

#contact .external a:last-of-type {
  margin-left: 40%;
}

#contact .right {
  color: #202020;
  display: table;
}

#contact .right > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#contact .right h2 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 100px;
}
#contact .right form {
  width: 300px;
  margin: 0 auto;
}

#contact .right input,
#contact .right textarea {
  width: 300px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  background: none;
  border-bottom: 1px solid #a2a2a2;
  padding-bottom: 5px;
  min-height: 20px;
}

#contact .right input::placeholder,
#contact .right textarea::placeholder {
  color: #a2a2a2;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background: none;
}

#contact .right input[type="submit"] {
  margin-top: 100px;
  border: 1px solid #202020;
  padding: 5px 20px;
  width: 140px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

#contact textarea:focus,
#contact input:focus {
  outline: none;
}

#contact .right input[type="submit"]:hover {
  background: #202020;
  color: white;
}

#contact footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: #979797;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #contact .white-splitter {
    left: 50vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #contact .white-splitter {
    left: 45vw;
  }
}
/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
  .circles {
    background: rgba(227, 227, 227, 0.3);
  }
  #intro .headline h2 {
    font-size: 35px;
  }
  #tech .wrapper {
    height: 70vh;
    position: absolute;
    padding-top: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #intro,
  #tech,
  #port,
  #contact {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    min-height: 100vh;
  }
  nav ul {
    font-size: 35px;
  }

  #hero .wrapper {
    height: 70vh;
    grid-template-rows: repeat(2, 1fr);
  }
  #hero .title {
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    grid-column: span 8;
    grid-row: 2;
  }
  #hero .title-image {
    grid-column: span 8;
    grid-row: 1;
  }

  #intro .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    column-gap: 20px;
    height: 90vh;
  }
  #intro .wrapper > div {
    grid-column: span 8;
    height: auto;
  }
  #intro .wrapper .headline {
    grid-row: 1/3;
    margin: 0 auto;
    height: 100px;
  }
  #intro .headline h2 {
    font-size: 30px;
  }

  #intro .wrapper .image {
    margin: 0 auto;
    height: 150px;
    grid-row: 3/6;
  }
  #intro .wrapper .description {
    margin: 0 auto;
    height: 100px;
    grid-row: 6/11;
  }
  #intro .map {
    display: none;
  }

  #tech .device {
    transform: scale(0.5);
    right: -50px;
  }
  #tech .line {
    width: 66%;
  }
  #port .wrapper {
    padding-top: 35px;
  }

  #port .back {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 1200px;
  }
  #port .back .title {
    grid-column: span 2;
    grid-row: 1 / 2;
    margin-left: 0px;
  }

  #port .back .title h2 {
    font-size: 25px;
  }
  #port .back .title p {
    font-size: 12px;
  }
  #port .back .box {
    grid-column: span 2;
    grid-row: 2 / 7;
    background: black;
  }
  #port .front {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-width: 1200px;
  }
  #port .front .image {
    grid-column: span 2;
    grid-row: 2 / 3;
  }
  #port .front .info {
    grid-column: span 2;
    grid-row: 3 / 6;
  }
  #port .front .image > div {
    margin-top: 50px;
    width: 80%;
  }
  #port .front .image > div:after {
    padding-top: 50%;
  }
  #port .front .call-to-action {
    bottom: auto;
  }
  #port .front .description {
    margin: 0;
    white-space: pre-wrap;
  }
  #port .front .description p {
    margin: 0 5px;
    white-space: pre-wrap;
  }

  #port .front .call-to-action {
    grid-column: span 2;
    grid-row: 3 / 5;
  }

  #port .front .call-to-action a {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0px auto 5px auto;
  }

  #port .pagecount p {
    font-size: 16px;
  }

  #contact .wrapper {
    height: 90vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  #contact .wrapper > div {
    grid-column: span 8;
    grid-row: span 2;
    height: auto;
  }
  #contact .left > h2 {
    display: none;
  }
  #contact .presentations {
    display: none;
  }
  #contact .white-splitter {
    left: -15vw;
    top: 20vh;
  }
  #contact .right {
    grid-row: span 4;
  }
  #contact .right h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}
